body{
    color: rgb(94, 89, 92);

}
button{
    font-size: 50px;
    border: None;
    border-radius: 2px;
    width: 100px;
    

}
.display{
    background-color:rgb(43, 40, 40);
    height: 20px;
    width: 386px; 
    height: 50px;
    color:white;
    text-align: right;
    padding-right: 20px; 

}
h1{
    padding-top: 6px;

}
.firstRow{
    display : flex;
    padding-top: 2px;
    padding-bottom: 1px ;
    gap: 2px;
    
}
.secondRow{
    display : flex;
    padding-top: 2px;
    padding-bottom: 1px ;
    gap: 2px;
}
.thirdRow{
    display : flex;
    padding-top: 2px;
    padding-bottom: 1px;
    gap: 2px;
}
.forthRow{
    display : flex;
    padding-top: 2px;
    padding-bottom: 1px ;
    gap: 2px;
}
.lastRow{
    display : flex;
    justify-content: center;
    padding-top: 1px;
    gap: 2px;
}
.wrapper{
    justify-items : center;
    justify-content: center;
    text-align: center;
    padding-top: 10%; 

}
.calculatorBody{
    justify-items: center;
}
.lastButton{
    width: 409px;
}
.cancel{
    background-color: rgb(170, 42, 42);
}